<html>
<head>
<title>Feedlet</title>
<link href='https://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
</head>

<body>

<style type="text/css">
.feedlet{
border:solid 1px #A7A9AB;
width:250px;
height:300px
box-sizing:border-box;
padding:5px;
font-family:'PT Sans';
font-size:13px;
}

.feedletTitle{
width:100%;
height:10%;
box-sizing:border-box;
}
.feedletImage{
width:100%;
}
</style>

<div class="feedlet">
<div class="feedletTitle">
Snack Box and $300 per post.<br><br>
Ends: 12/10/2010
</div>
<div>
<img class="feedletImage" src="http://www.gingerbox.com.ng/live/image/cache/data/snackbox-300x300.jpg"/>
</div>

</div>

</body>
</html>